include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements_dev.txt
include pip-requirements.txt

recursive-include * *.pyx
recursive-include * *.pxd

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.c
recursive-exclude * *.orig
recursive-exclude * *.pdf

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif

# remove extraneous doc and test outputs
prune docs/static/mcmc-demo
prune tests/reports
prune tests/.pytype
recursive-exclude tests conetestdata.npz
recursive-exclude tests region-stuck*.npz
